- provide(:title, "Профиль ")
.row.offset1
  .span3
    = image_tag(@profile.avatar.thumb.url) if @profile.avatar?
  .span7
    %h4 
      = @profile.name.capitalize
    = @profile.user.country.title
    = @profile.user.city.title
    = @profile.user.area.title + " район"
