.offset2
  %h2 Регистрация
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div
      /= f.label :email
      = f.email_field :email, autofocus: true, placeholder: "Email"
    %div
      /= f.label :password, "Пароль"
      = f.password_field :password, placeholder: "Пароль"
    %div
      /= f.label :password_confirmation, "Подтверждение пароля"
      = f.password_field :password_confirmation, placeholder: "Подтверждение пароля"
    %div= f.submit "Регистрация", class: "btn btn-large"
  = render "devise/shared/links"
