%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      = link_to "Торты на заказ", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Главная", root_path
          %li= link_to "Помощь", help_path
          - if user_signed_in?
            %li= link_to "Выйти", destroy_user_session_path, method: :delete, class: "login_logout"
            %li= link_to current_user.username, edit_user_registration_path
          - else
            %li= link_to "Регистрация", new_user_registration_path, class: "registration"
            %li= link_to "Войти", new_user_session_path, class: "login_logout"